@*@model Gmt_Asset_Tracker.Models.Asset

    @{
        ViewData["Title"] = "Edit";
    }

    <h1>Asset Verification for @Model.Asset_name</h1>

    <h4>Asset</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="AssetVerification" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="Image" />
                <div class="form-group">
                    <label asp-for="CheckId" class="control-label"></label>
                    <select asp-for="CheckId" class="form-control" asp-items="ViewBag.CheckId">
                        <option value="0">Physical check?</option>
                    </select>
                    <span asp-validation-for="CheckId" class="text-danger" />
                </div>
                <div class="form-group">
                    <label asp-for="Image" class="control-label">Current Image</label>
                    <img src="~/media/images/@Model.Image" width="200" alt="" />
                    <input asp-for="Image" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Image" class="control-label">New Asset Image</label>
                    <input asp-for="ImageUpload" class="form-control" />
                    <img src="" id="imgpreview" class="pt-2" alt="" />
                    <span asp-validation-for="ImageUpload" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PresentLocationId" class="control-label"></label>
                    <select asp-for="PresentLocationId" class="form-control" asp-items="ViewBag.PresentLocationId">
                        <option value="0">Choose a Location</option>
                    </select>
                    <span asp-validation-for="PresentLocationId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Present_user" class="control-label"></label>
                    <input asp-for="Present_user" class="form-control" />
                    <span asp-validation-for="Present_user" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Verify" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

        <script>

            $("#ImageUpload").change(function () {
                readURL(this);
            });
        </script>
    }*@

@model Gmt_Asset_Tracker.Models.Asset

@{
    ViewData["Title"] = "Asset Verification";
}

<style>
    body {
        font-family: 'Lato', sans-serif
    }

    h1 {
        margin-bottom: 40px
    }

    label {
        color: #333
    }

    .btn-send {
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 0.2em;
        width: 80%;
        margin-left: 3px
    }

    .help-block.with-errors {
        color: #ff5050;
        margin-top: 5px
    }

    .card {
        margin-left: 10px;
        margin-right: 10px
    }
</style>

<div class="container">
    <div class=" text-center mt-5 ">
        <h1>Asset Verification for @Model.Asset_name</h1>
    </div>
    <div class="row ">
        <div class="col-lg-7 mx-auto">
            <div class="card mt-2 mx-auto p-4 bg-light">
                <div class="card-body bg-light">
                    <div class="container">
                        <form asp-action="AssetVerification" enctype="multipart/form-data">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="Id" />
                            <input type="hidden" asp-for="Image" />
                            <div class="controls">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div>
                                            <h2>ASSET VERIFICATION</h2>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="CheckId" class="control-label"></label>
                                            <select asp-for="CheckId" class="form-control" asp-items="ViewBag.CheckId">
                                                <option value="0">Physical check?</option>
                                            </select>
                                            <span asp-validation-for="CheckId" class="text-danger" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="PresentLocationId" class="control-label"></label>
                                            <select asp-for="PresentLocationId" class="form-control" asp-items="ViewBag.PresentLocationId">
                                                <option value="0">Choose a Location</option>
                                            </select>
                                            <span asp-validation-for="PresentLocationId" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="Present_user" class="control-label"></label>
                                            <input asp-for="Present_user" class="form-control" placeholder="Please enter the present user's name'" />
                                            <span asp-validation-for="Present_user" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label asp-for="Image" class="control-label">Current Image</label>
                                            <img src="~/media/images/@Model.Image" width="200" alt="" />
                                            <input asp-for="Image" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label asp-for="Image" class="control-label">New Asset Image</label>
                                            <input asp-for="ImageUpload" class="form-control" />
                                            <img src="" id="imgpreview" class="pt-2" alt="" />
                                            <span asp-validation-for="ImageUpload" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <input type="submit" value="Verify" class="btn btn-success btn-send pt-2 btn-block " />
                                    </div>
                                </div>
                            </div>
                        </form>
                        <br />
                        <div>
                            <a asp-action="Index">Back to List</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>

        $("#ImageUpload").change(function () {
            readURL(this);
        });
    </script>
}